aside {
    margin-top: 0%;
    
    
    }
    
    .side {
    display: inline-block;
    float: right;
    
    width: 42%;
    
    margin-top: 0%;
    margin-right: -4%;
    
    }
    
    
    
    .side__elem1 {
    display: inline-block;
    float: right;
    width: 40%;
    height: 32px;
    text-align: justify;
    padding-top: 2%;
    padding-right: 8%;
    padding-left: 4%;
    padding-bottom: 2%;
    margin-right: 16%;
    margin-left: -4%;
    margin-top: -1%;
    background-color: rgb(220, 0, 5);
    color: red;
    font-family: arial;
    }
    
    .side__elem1--mod {
    
    display: inline-block;
    color: white;
    
    margin-left: 24%;
    
    margin-bottom: 8%;
    width: 24%;
    font-family: arial;
    font-size: 104%;
    font-weight: bold;
    vertical-align: top;
    
    } 
    
    .menu--mod1 {
    float: left;
    margin-top: -14%;
    
    }
    
    .menu__elem1 {
      width: 24px;
      height: 3px;
      background-color: white;
      margin: 3px 0;
     
    
    }
    
    
    
    
    .side__elem2 {
    display: inline-block;
    float: right;
    margin-right: 24%;
    
    color: black;
    margin-top: 2%;
    width: 8%;
    font-family: arial;
    font-size: 98%;
    }
    
    .side__elem3 {
    display: inline-block;
    
    
    }
    
    
    
    .contenitore {
    margin-top: 1%;
    float: right;
    
    width: 32%;
    
    
    
    }
    
    
    .list{
    background-color: white ;
    margin-top: 4%;
    
    }
    
    .middle {
    color: grey;
    text-weight: bold;
    font-family: arial;
    font-size: 104%;
    margin-top: 4%;
    padding: 4%;
    
    }
    
    .list__elem {
    
    
    display: inline-block;
    color: grey;
    margin-left: 1%;
    margin: 1%;
    padding-right: 8%;
    font-family: arial;
    font-size: 64%;
    font-weight: bold;
    
    
    }
    
    .list__elem-mod {
    color: blue;
    
    float: right;
    display: inline-block;
    font-family: arial;
    font-size: 64%;
    text-decoration: underline;
    margin-left: 1%;
    margin: 1%;
    
    }
    
    .grassetto {
    text-decoration: bold;
    color: black;
    font-family: arial;
    font-size: 104%;
    }
    
    .normal {
    color: rgb(56, 56, 56);
    }