.header {
    background-color: white;
    height: 5px;
    
   }
   
  
  .menu{
  display: inline-block;
  margin-bottom: -4%;
  
  width: 8%;
  
  color: white;
  }
  
  .logo {
  
  }
  
  .logo__elem {
  margin-bottom: -8%;
  margin-left: 1%;
  
  }
  
  .options {
  display: inline-block;
  
  margin-left: 8%;
  width: 8%;
  
  }
  
  .scritta {
  width: 40%;
  display: inline-block;
  margin-left: 8%;
  
  
  }
  
  .holder {
  
  width: 64%;
  display: inline-block;
  font-size: 72%;
  color: grey;
  font-family: arial;
  border: solid lightgrey 1px;
  margin-right: 20%;
  }
  
  .punto1 {
  display: inline-block;
  margin-left: -8%;
  margin-top: -1%;
  
  
  padding-left: 2%;
  padding-right: 2%;
  
  background-color: rgb(220, 0, 5);
  color: white;
  height: 24px;
  vertical-align: middle;
  color: white;
  
  
  }
  
  .punto1__elem {
  margin-top: 32%;
  font-family: arial;
  font-size: 54%;
  test-align: middle;
  margin-left: 8%;
  
  }
  
  
  .punto2 {
  display: inline-block;
  margin-left: 2%;
  margin-bottom: -100%;
  width: 8%;
  
  height: 8px;
  
   
  }
  
  .punto2__elem {
    
    width: 72px;
    height: 4px;
    
    color: red;
    font-size: 54%;
    font-family: arial;
    color: blue;
    text-decoration: underline;
  }
  
  .menu--mod {
  float: right;
  
  margin-bottom: -1%;
  margin-top: 1%;
  
  
  }
  
  .menu__elem {
    width: 32px;
    height: 4px;
    background-color: rgb(220, 0, 5);
    margin: 4px 0;
    margin-top: 1px;
  
  
  }