hr {
    float: left;
    width: 70%;
    }
    
    .breacker {
    display: inline-block;
    width: 70%;
    float: left;
    background-color: white;
    margin-left: 4%;
    margin-top: 2%;
    }
    
    .breacker__elem1 {
    display: inline-block;
    margin-top: -1%;
    font-size: 80%;
    font-family: arial;
    width: 56%;
    color: gray;
    }
    
    .breacker__elem2 {
    display: inline-block;
    color: blue;
    float: right;
    margin-right: 32%;
    
    height: 4px;
    width: 10%;
    margin-top: 0%;
    padding: 1%;
    font-size: 72%;
    font-family: arial;
    }