/* Colonne per la nav */
.navigation {
    float: left;
     display: inline-block;
    width: 100%;
   
   
   height: 30px;
    
    margin-top: -1%;
    
    
    
  }
  
  
  /* Stile per le liste dentro nav */
  
  .navigation__elem1-1--color {
  color: blue;
  margin-top: 1px;
  }
  .navigation__elem1-2--color {
  color: blue;
  }
  .navigation__elem1-3--color {
  color: blue;
  }
  
  .navigation__elem1-4--color {
  color: #663399;
  }
  
  
  .navigation__elem1 {
  margin: 1%;
  
  }
  a {
  text-decoration: none;
  }
  
  .arrow {
   display: inline-block;
   margin-right: 1%;
   margin-left: -3%;
   color: blue;
   }
   
  
  
  .navigation__elem1-1 {
  display: inline-block;
  margin-right: 4%;
  }
  
  
  
  .navigation__elem1-2 {
  display: inline-block;
  margin-right: 4%;
  
  
  }
  
  .navigation__elem1-3 {
  display: inline-block;
  margin-right: 4%;
  
  
  }
  
  .navigation__elem1-4 {
  display: inline-block;
  margin-right: 4%;
  
  color: #663399;
  
  }