section {
    background-color: red;
    width: 100%;
    }
    
    article {
    margin-top: 4%;
    display: inline-block;
      float: left;
      padding: 20px;
      width: 50%;
      
     
     
     
    }
    
    picture {
    margin-right: 8%;
    }
    
    .block {
    
    display: inline-block;
    margin-top:4%;
    width: 136%;
    border: solid lightgrey 1px;
    
    }
    
    .block__elem {
    display: inline-block;
    background-color: rgb(220, 0, 5);
    width: 32%;
    
    
    
    }
    
    
    
    .block__elem--mod {
    display: inline-block;
    margin-left: 4%;
    margin-right: 0%;
    float: right;
    width: 64%;
    
    }
    
    .block__elem-size1 {
    display: inline-block;
    color: white;
    font-family: arial;
    font-size: 54%;
    margin-left: 1%;
    width: 16%;
    }
    
    .block__elem-size2 {
    display: inline-block;
    color: white;
    margin-left: 4%;
    margin-right:4%;
    font-family: arial;
    font-size: 54%;
    
    width: 16%;
    }
    .block__elem-size3 {
    display: inline-block;
    color: white;
    margin-left: 4%;
    font-family: arial;
    font-size: 54%;
    
    width: 16%;
    }
    .block__elem-size4 {
    display: inline-block;
    color: white;
    margin-left: 4%;
    
    font-family: arial;
    font-size: 54%;
    
    width: 16%;
    }
    
    figure {
    margin: 0%;
    }
    
    /* Dentro le Card destra */
    
    .card {
    background-color: white;
    font-family: arial;
    font-size: 96%;
    font-weight: bold;
    width: 50%;
    margin: 1%;
    
    }
    
    .card2 {
    
    
    height:20%;
    
    
    }
    
    .card2__elem1 {
    display: inline-block;
    font-size: 104%;
    width: 50%;
    margin: 1%;
    margin-right: -16%;
    
    
    
    
    
    }
    
    .card2__elem2 {
    display: inline-block;
    border-right: solid lightgrey 1px;
    width: 12%;
    padding-right: 1%;
    margin-right: 2%;
    margin-left: 4%;
    font-family: arial;
    font-size: 56%;
    font-weight: bold;
    
    }
    
    .card2__elem3 {
    
    display: inline-block;
    border-right: solid lightgrey 1px;
    width: 14%;
    padding-right: 8%;
    margin-right: 2%;
    margin-left: 0%;
    font-family: arial;
    font-size: 56%;
    font-weight: bold;
    
    }
    .card2__elem4 {
    display: inline-block;
    border-right: solid lightgrey 1px;
    width: 10%;
    
    margin-right: 2%;
    margin-left: 0%;
    font-family: arial;
    font-size: 56%;
    font-weight: bold;
    
    }
    .card2__elem5 {
    display: inline-block;
    
    width: 10%;
    
    margin-right: 2%;
    margin-left: 0%;
    font-family: arial;
    font-size: 56%;
    font-weight: bold;
    
    }
    
    
    .card3 {
    display: inline-block;
    
    width: 80%;
    margin: 1%;
    font-size: 72%;
    font-family: arial;
    font-weight: bold;
    }
    
    .card4 {
    
    background-color: white;
    color: gray;
    line-height: 150%;
    width: 96%;
    margin-top:1%;
    margin-bottom:1%;
    margin: 1%;
    font-size: 64%;
    font-family: arial;
    text-align: left;
    }
    
    .card5 {
    display: inline-block;
    margin-top: 2%;
    width: 100%;
    }
    
    
    .b1 {
    display: inline-block;
    width: 24%;
    height: 32px;
    margin-left: 48%;
    margin-top: 1%;
    background-color: blue;
    padding-top: 2%;
    text-align: center;
    color: white;
    font-family: arial;
    font-size: 72%;
    }
    
    .b2{
    display: inline-block;
    margin-top: 1%;
    padding-top: 2%;
    float: right;
    width: 24%;
    height: 32px;
    background-color: rgb(220, 0, 5);
    text-align: center;
    
    color: white;
    font-family: arial;
    font-size: 72%;
    
    }
    